body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding-top: 50px;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

h1,
h2 {
  color: #333;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0.5em; /* Add bottom margin for spacing */
}

h1 {
  margin-bottom: 10px; /* Slightly larger bottom margin for h1 */
  font-size: 2em; /* Larger font size for h1 */
}

h2 {
  font-size: 1.5em; /* Slightly smaller font size for h2 compared to h1 */
  font-weight: normal; /* Less emphasis than h1 */
  color: #555; /* Optional: a slightly different color for h2 if desired */
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

input[type="number"],
input[type="text"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #555;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background: #333;
  color: #fff;
}

.error-message {
  color: red;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the start of the container */
  width: 90%;
  margin: auto;
}

.content,
table,
#hour-container {
  width: 100%; /* Make sure the width spans the full container */
}

#hour-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10px);
  grid-auto-rows: 10px;
  gap: 1px;
  overflow-y: auto;
  background-color: #f8f8f8;
  /* Removed float:right; no longer needed with flexbox */
  height: auto; /* Adjust height or set a specific value if needed */
  /* Add margin-top if you want space between the table and the squares */
}

.hour-square {
  width: 10px;
  height: 10px;
  background-color: #90ee90; /* Unfilled color */
}

.hour-square-filled {
  background-color: #eee; /* Filled color - light green */
}

.hour-square-half-filled {
  background: linear-gradient(to right, #90ee90 50%, #eee 50%);
}

.delete-btn {
  padding: 0; /* No padding needed as we'll align icon and text manually */
  background-color: transparent; /* Transparent background */
  color: #333; /* Match the text color to your design */
  border: none; /* No border for a text-like button */
  cursor: pointer;
  font-weight: normal; /* Normal font weight for the text */
  font-size: 0.8rem; /* Smaller font size for the text */
  display: flex; /* Use flexbox to layout icon and text */
  flex-direction: column; /* Stack icon and text vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  width: auto; /* Width to fit content */
  height: auto; /* Height to fit content */
  transition: color 0.3s; /* Transition for color change on hover */
}

.delete-btn:hover {
  color: #ff4d4d; /* Change text color on hover */
}

.delete-btn:before {
  content: "\1F5D1"; /* Trash can icon in Unicode */
  font-family: Arial, sans-serif; /* Specify the font family if using text as an icon */
}

.delete-icon {
  font-size: 1.5rem; /* Larger font size for the icon */
  margin-bottom: 4px; /* Space between icon and text */
}

th,
td {
  padding: 2px 5px; /* Even smaller padding */
  border: 1px solid #ddd;
  text-align: left;
  font-size: 12px; /* Smaller font size */
  line-height: 1.1; /* Tighter line height */
}

/* Style for the table cell that contains the delete button */
td.delete-cell {
  background-color: #f4f4f4; /* This should match the site's background color */
  text-align: center;
  vertical-align: middle;
  border: none; /* Optionally remove the border if it suits the design */
}

/* Adjust the form style if needed */
td.delete-cell form {
  background-color: #f4f4f4; /* This should match the site's background color */
  display: inline-block; /* Align the form with the delete button */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  border: none; /* Remove any border */
}

/* Ensuring the table row height fits the content */
tr {
  height: auto; /* Auto height for each table row */
  border-bottom: 1px solid #ddd; /* This will add a line below each row */
}

.confirm-password-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.confirm-password-container input[type="password"] {
  flex-grow: 1;
}

/* Styles for the navigation bar */
.navbar {
  background-color: #333; /* Dark background for the navbar */
  overflow: hidden; /* Clear floats */
  position: fixed; /* Fix the navbar to the top */
  top: 0; /* Align to the top */
  width: 100%; /* Full width */
  z-index: 1000; /* Make sure it stays on top */
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Unordered list styles for the navigation links */
.nav-links {
  list-style-type: none; /* Remove list bullets */
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: flex-start; /* Align items to the start */
}

/* Styles for each navigation link */
.nav-links li {
  display: inline-block; /* Display list items inline */
}

/* Styles for the link tags */
.nav-links li a {
  display: block; /* Display links as block elements */
  color: white; /* Text color */
  text-align: center; /* Center text */
  padding: 14px 16px; /* Padding inside each link */
  text-decoration: none; /* Remove underlines from links */
  transition: 0.3s; /* Smooth transition for hover effects */
}

/* Change the color of links on hover */
.nav-links li a:hover {
  background-color: #ddd; /* Light background on hover */
  color: black; /* Dark text on hover */
}

/* Add responsiveness */
@media screen and (max-width: 600px) {
  .nav-links li a {
    padding: 10px 10px; /* Smaller padding on small screens */
  }
}

.image-container {
  width: 60px; /* Width of your image */
  height: 50px; /* Height of your image */
  background-image: url("pepe.png"); /* Original image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  transition: background-image 0.5s; /* Smooth transition for the hover effect */
}

.image-container:hover {
  background-image: url("pepe_2.png"); /* Image to show on hover */
}

/* Hide the <img> element, it's only there for accessibility reasons (e.g., screen readers) */
.navbar-image {
  width: auto;
  height: 100%;
  display: none;
}

.flash-messages {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8d7da; /* Light red background */
  border: 1px solid #f5c6cb; /* Light red border */
}
.flash-warning {
  color: #721c24; /* Dark red text color */
  margin: 5px 0; /* Space between messages */
  padding: 10px;
  border-radius: 3px;
  background-color: #f8d7da; /* Light red background */
  border-left: 5px solid #d9534f; /* Darker red left border for emphasis */
  transition: opacity 1s ease-out; /* Smooth transition for fading out */
}
.flash-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: opacity 1s ease-out; /* Smooth transition for fading out */
}

.flash-success2 {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: opacity 1s ease-out; /* Smooth transition for fading out */
}
