<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
  </head>
  <body>
    <nav class="navbar">
      <!-- Navigation links -->
      <ul class="nav-links">
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        {% endif %}

        <li><a href="/content">Tracker</a></li>
      </ul>
      <div class="image-container">
        <img
          src="{{ url_for('static', filename='pepe.png')}}"
          alt="Pepe_navbar"
          class="navbar-image"
        />
      </div>
    </nav>
  </body>
</html>
