<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
  </head>
  <body>
    {% include 'index.html' %}

    <form action="/login" method="post">
      {{ form.hidden_tag()}} {{ form.email.label}} {{ form.email()}} {{
      form.password.label}} {{form.password()}} {{ form.submit_button()}} {%
      with messages = get_flashed_messages() %} {% if messages %}
      <div class="flash-messages">
        {% for message in messages %}
        <div class="flash-warning">{{message}}</div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
    </form>
  </body>
</html>
