<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
  </head>
  <body>
    {% include 'index.html' %}

    <form action="/register" method="post">
      {{ form.hidden_tag()}} {{ form.username.label}} {{form.username()}} {{
      form.email.label}} {{ form.email()}} {{ form.password.label}}
      {{form.password()}} {{form.confirm_password.label}} {{
      form.confirm_password()}} {{ form.submit_button()}}
    </form>
  </body>
</html>
